<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
   
</head>
<body>

    <div class="tabstrip" id="tabs">
        <ul>
            <li class="k-state-active">
                General Information
            </li>
            <li>
                Customer Information
            </li>
            <li>
                Vendor Information
            </li>
            <li>
                File Information
            </li>
            <li>
                FTP
            </li>
            <li>
                Audit Trail
            </li>
            <li>
                Other Information
            </li>
        </ul>
        <div>
            <div class="general">
                <table class="table">

                    <tbody>
                        <tr class="success">
                            <td>Customer Number</td>
                            <td> #= CustomerNumber #</td>
                            <td>FeedCode</td>
                            <td>#= FeedID #</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="danger">
                            <td>Customer Name</td>
                            <td>#= Customer #</td>
                            <td>Customer Effective Date</td>
                            <td>#= CustomerEffectiveDate #</td>
                            <td>Line Of Business</td>
                            <td>#= LineOfBusiness #</td>
                        </tr>
                        <tr class="info">
                            <td>Vendor</td>
                            <td>#= Vendor #</td>
                            <td>Vendor Effective Date</td>
                            <td>#= VendorEffectiveDate #</td>
                            <td>Renewal Month</td>
                            <td>#= RenewalMonth #</td>
                        </tr>
                        <tr class="warning">
                            <td>Status</td>
                            <td>#= Status #</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>


            </div>


        </div>
        <div>
            <div class='custinfo'>
                <label>Account Manager:</label>#= AccountManager #


            </div>
        </div>
        <div>
            <label>Main Vendor Contact:</label>#= MainVendorContact #
            <label>Main Vendor Phone:</label>#= MainVendorPhone #
        </div>
        <div>
            <table class="table">

                <tbody>
                    <tr class="success">
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                    </tr>
                    <tr class="danger">
                        <td>Mary</td>
                        <td>Moe</td>
                        <td>mary@example.com</td>
                    </tr>
                    <tr class="info">
                        <td>July</td>
                        <td>Dooley</td>
                        <td>july@example.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</body>
</html>

